:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 50px;
  max-width: 1200px;
}

.recto, .verso {
  position: relative;
  aspect-ratio: 350/200;
  width: 500px;
  border-radius: 1px;
  border: 2px solid #5e3939;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
}

.bloc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.separator {
  width: 35%;
  height: 1px;
  background-color: #333;
  margin: 10px 0;
  align-self: center;
}

.logo {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

p {
  margin: 0 15px;
  color: #555;
  font-size: 1.25rem;
}

/* Verso */ 

.verso {
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header .fullName {
  margin: 0;
  color: black;
  font-size: 1.5rem;
}

.header .title {
  font-size: 1.5rem;
  margin: 0;
  padding: 5px 20px;
  padding-right: 50px;
  background-color: #00D8FF;
  color: rgb(0, 0, 0);
  margin-right: -20px;

  will-change: filter;
  transition: filter 500ms;
}

.header .title:hover {
  filter: drop-shadow(0 0 1rem #64b4ffaa);
  cursor: pointer;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;

  text-align: start;
  list-style: none;
}

.verso .logo {
  position: absolute;
}

.form {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: flex-start;
}

.form-section-recto, .form-section-verso {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  width: 250px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

label {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

input[type="text"],
input[type="tel"],
input[type="mail"],
input[type="image"],
input[type="url"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin: 0px;
}

.business-card {
  position: relative;
  width: 500px;
  height: 285px;
  perspective: 1000px;
  cursor: pointer;
  margin: 0;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.business-card.flipped .card-inner {
  transform: rotateY(180deg);
}

/* Recto / Verso faces */
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.buttons button, .form-section-recto button, .edit-btn {
  appearance: none;
  border:none;
  background-color: #00d9ffaf;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
}

.buttons button:hover, .form-section-recto button:hover {
  background-color: #00788dbd;
  cursor: pointer;
  color: white;
}

.edit-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100px;
  position: absolute;
  background-color: #00d9ffaf;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;

  bottom: 400px;
  align-self: center;
  justify-self: center;
  left: 500px;
}

.edit-btn:hover {
  background-color: #00788dbd;
  color:white;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
